@font-face {
    font-family: "PICO-8";
    src: url('pico-8-mono-upper.woff2');
}

:root {
    --background-color: #221d29;
    --color: #d4d4d4;
    --muted: #878787;
    --primary: #28fc91;
    --primary-10: #28fc9110;
    --primary-30: #28fc9130;
    --primary-50: #28fc9150;
    --accent: #40ffff;
    --accent-05: #40ffff05;
    --accent-10: #40ffff10;
    --accent-30: #40ffff30;
    --accent-50: #40ffff50;
    --line-height: 18px;
    --font-size: 6px;
    --font-family: 'PICO-8';
    --border-radius: 6px;
    --border-color: var(--primary-30);
}

* {
    box-sizing: border-box;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

html {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--color);
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 4ch;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--line-height);
    position: relative;
}

.grid-wrapper .grid {
    --cols: 10;
    --rows: 4;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    gap: 1ch;
    aspect-ratio: calc(var(--cols) / var(--rows));
}

.grid-wrapper .grid .cell {
    display: grid;
    place-content: center;
    font-weight: 600;
    background-color: var(--primary-30);
    color: var(--primary);
    border-radius: var(--border-radius);
}

.grid-wrapper .cell.selected {
    background-color: var(--accent-30);
    color: var(--accent);
}

.grid-wrapper .readout .heading {
    margin-bottom: var(--line-height);
}


.grid-wrapper .readout .selected {
    position: relative;
    min-height: 57px;
    overflow: overlay;
    padding: var(--line-height);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    flex: 1;
}

.grid-wrapper .readout .selected .order-line {
    display: flex;
    justify-content: center;
}

.grid-wrapper .readout .selected .order-line.placeholder {
    color: transparent;
}

.grid-wrapper .readout .selected .order-line span:first-child {
    color: var(--muted);
}

.grid-wrapper .readout .selected .order-line span:nth-child(2) {
    color: var(--primary);
}

.grid-wrapper .stats-ctr {
    display: flex;
    justify-content: flex-end;
}

.grid-wrapper .stats-ctr .stats {
    flex-direction: column;
    background-color: var(--accent-30);
    color: var(--accent);
    padding: 1ch 2ch;
    min-width: 15ch;
    white-space: nowrap;
    border-radius: var(--border-radius);
}

.grid-wrapper .stats-ctr .stats>div {
    display: flex;
    justify-content: space-between;
}

.grid-wrapper .stats-ctr .stats .counter {
    text-align: right;
}

.grid-wrapper .toolbar {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2ch;
    margin: var(--line-height) 0px;
}

.grid-wrapper .toolbar .btn {
    font-family: var(--font-family);
    cursor: pointer;
    border: none;
    color: var(--primary);
    padding: 0.5ch 2ch;
    text-align: center;
    background-color: var(--primary-30);
    border-radius: var(--border-radius);
}

.grid-wrapper .toolbar .btn:global(.stop) {
    color: var(--accent);
    background-color: var(--accent-30);
}

.grid-wrapper .toolbar .btn:global(.reset) {
    color: var(--accent);
    background-color: var(--accent-30);
}

/* Box */
.box {
    --box-color: var(--border-color);
    --circle-color: var(--background-color);
    --radius-size: 6px;
    --top-radius: 0px 0px var(--radius-size) var(--radius-size);
    --bottom-radius: var(--radius-size) var(--radius-size) 0px 0px;
    --corner-size: 3px;

    width: 100%;
    background-color: var(--border-color);
    border-radius: var(--border-radius);
    padding: 8px;

}

.box .border {
    position: relative;
    border-radius: calc(8px - var(--border-radius));
    background-color: var(--background-color);
    margin: 0;
}

.box .top,
.box .bottom {
    pointer-events: none;
    position: absolute;
    left: 25%;
    height: calc(var(--corner-size) * 3);
    height: 9px;
    width: 50%;
    background-color: var(--border-color);
}

.box .top:after,
.box .top:before,
.box .bottom:after,
.box .bottom:before {
    content: "";
    position: absolute;
    width: var(--corner-size);
    height: var(--corner-size);
    background-color: var(--box-color);
    z-index: 1;
}

.box .top:after,
.box .bottom:after {
    left: calc(var(--corner-size) * -1);
}

.box .top:before,
.box .bottom:before {
    right: calc(var(--corner-size) * -1);
}

.box .top .circle,
.box .bottom .circle {
    height: 100%;
    width: 100%;
    border-radius: var(--top-radius);
}

.box .top .circle:after,
.box .top .circle:before,
.box .bottom .circle:after,
.box .bottom .circle:before {
    content: "";
    position: absolute;
    width: calc(var(--corner-size) * 2);
    height: calc(var(--corner-size) * 2);
    border-radius: var(--corner-size);
    background: var(--circle-color);
    z-index: 2;
}

.box .top .circle:after,
.box .bottom .circle:after {
    left: calc(var(--corner-size) * -2);
}

.box .top .circle:before,
.box .bottom .circle:before {
    right: calc(var(--corner-size) * -2);
}

.box .top {
    top: 0px;
    border-radius: var(--top-radius);
}

.box .top:after,
.box .top:before {
    top: 0px;
}

.box .top .circle:after,
.box .top .circle:before {
    top: 0px;
}

.box .bottom {
    bottom: 0px;
    border-radius: var(--bottom-radius);
}

.box .bottom:after,
.box .bottom:before {
    bottom: 0px;
}

.box .bottom .circle:after,
.box .bottom .circle:before {
    bottom: 0px;
}